<div class="mat-card-container" style="padding: 10px">
    <mat-card >
        <mat-card-header>
          <mat-card-title> New User Information</mat-card-title>
        </mat-card-header>
          <mat-card-content>
              <form fxLayout="row wrap" fxLayoutAlign="space-between none" > 
                  <app-input fxFlex fxFlex.lg="32%" [lableText]="'Id'" [(modelValue)]="user.id" [placeholder]="'Id'"></app-input>
                  <app-input fxFlex fxFlex.lg="32%" [lableText]="'User Name'" [(modelValue)]="user.userName" [placeholder]="'User Name'"></app-input>
                  <app-input fxFlex fxFlex.lg="32%" [lableText]="'Email'" [(modelValue)]="user.email" [placeholder]="'Email'"></app-input>
                  <app-input fxFlex fxFlex.lg="32%" [lableText]="'Description'" [(modelValue)]="user.description" [placeholder]="'aha'"></app-input>
                </form>
          </mat-card-content>
          <mat-card-actions>
            <span fxFlex></span>
            <button class="create-button" mat-button color="primary" (click)="createUser()">CREATE USER</button>
            <span fxFlex></span>
          </mat-card-actions>
      </mat-card>
</div>


