  .layout {
    height: 100%;
    width: 100%;
  }

  .main-container{
    background-color: #eee;
    position: absolute;
    top: 40px; 
    left: 0;
    right: 0;
    bottom: 0;
  }

  .sidenav {
    justify-content: center;
    width: 200px;
    background: gainsboro;
  }
  
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 40px;
    background-color: #1976d2;
  }

  .toolbar mat-toolbar{
    height: inherit;
    background-color: inherit;
  }

  .side-nav-text {
    padding-left: 10px;
    color: #757575
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }
  