<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="example-header">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Application</span>
  <span class="example-fill-remaining-space"></span>
  <i class="material-icons md-24" [matMenuTriggerFor]="menu">notification_important</i>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>ABC</span>
    </button>
    <button mat-menu-item>
      <mat-icon>share</mat-icon>
      <span>DEF</span>
    </button>
  </ng-template>
</mat-menu>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" class="example-sidenav" [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
    [fixedBottomGap]="options.value.bottom">
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <i class="material-icons md-24 md-dark">{{link.icon}}</i>
        <a routerLink="{{link.link}}" class="side-nav-text">{{ link.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [formGroup]="options">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
