<div class="main-profile">
    <div div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
        <div>toolbar</div>
        <div class="quote-content"> 
                <div fxFill fxLayout="row" fxLayoutAlign="space-around center" >
                        <h1 >Hi! I'm Yash. <br> A political, social & environmental activist and an educator spreading awareness through videos. Join the fight against lies, corruption, injustice and propaganda.</h1>
                    <img style="height: 90%;" src="./../../../assets/newwhite.jpg" alt="image">
                </div>
        </div>
        <div style="height: 500px">About Me</div>
    </div>
</div>

