.quote-content{
   background-image: url('./../../../assets/DSC_4998-1.png');
   height: 500px;
   text-align: center;
   color: white;
   background-position: right;
   /* background-color: lightslategrey */
}

.quote-content div {
   font-size: 28px;
}

.profile-footer {
   background: #3496f3;
   padding: 20px;
}
.follow-me-icon i {
   border: 1px solid #000;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 34px;
   height: 34px;
   text-align: center;
   border-radius: 50%;
   overflow: hidden;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.follow-me-icon a:hover{
   filter: invert(1);
}
.follow-me-icon a{
   color: inherit;
   text-decoration : none;
}

