<div class="main-profile">
    <div div fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap="10px">
        <div class="quote-content" fxLayout="column">
            <div  fxFlex="45"></div>
            <div  fxLayout="row" >
                    <div>Hi! I'm Dhondiram Jawade <br>
                        A web developer, environmental lover & photographer love to explore new thing and places.
                        Codding is my passion and I love JavaScript and related technology and framework. </div> 
                    <div fxShow.lg="true" fxHide.sm="true" fxHide.xs="true" fxHide.md="true" fxFlex="20"></div>
            </div>
        </div>
        <app-timeline></app-timeline>
    </div>
</div>

