<div class="main-profile">
    <div div fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap="10px">
        <div class="quote-content" fxLayout="column">
            <div  fxFlex="45"></div>
            <div  fxLayout="row" >
                    <div>Hi! I'm Dhondiram Jawade <br>
                        A web developer, environmental lover & photographer love to explore new thing and places.
                        Codding is my passion and I love JavaScript and related technology and framework. </div> 
                    <div fxShow.lg="true" fxHide.sm="true" fxHide.xs="true" fxHide.md="true" fxFlex="20"></div>
            </div>
        </div>
        <app-timeline></app-timeline>
        <div class="profile-footer" fxLayout="column" fxLayoutAlign="center center">
            <h3>Follow Me On</h3>
            <div  class="follow-me-icon"  fxLayout="row" fxLayoutAlign="space-around  center" fxLayoutGap="10px">
                    
                <a href="https://www.linkedin.com/in/dhondiram-jawade-4aaa22123/">
                    <i class="fa fa-linkedin fa-lg"></i>
                </a>
                <a href="https://github.com/dhondiramjawade"><i class="fa fa-github fa-lg"></i></a>
                <a href="https://twitter.com/yashjawade88"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#"> <i class="fa fa-facebook fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>

