.quote-content{
   background-image: url('./../../../assets/PicsArt_09-13-09.40.53.jpg');
   height: 500px;
   text-align: center;
   color: white;
   /* background-color: lightslategrey */
}
.vertical-line {
   padding: 10px 0px 10px 0px;
   background-color: #607D8B;
   width: 2px;
}
.bottom-line {
   padding-bottom: 2px;
   background-color: black;
    width: 20%;
}
.text-area {
   padding: 10px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
   font-size: 12px;
   background-color: white;
}
.text-area .title {
   color: #2196F3;
   text-transform: uppercase;
}
.text-area .header {
   margin: 0px;
   margin-top: 5px;
   font-weight: 400;
   opacity: 0.7;
}
.text-area .discription{
   margin: 0px;
   font-weight: normal;
   font-weight: 400;
   opacity: 0.5;
 }
 .dot {
   padding: 6px;
   background-color: #2196F3;
   border-radius: 100%;
   z-index: 9;
 }

 .timeline {
   background-color: ghostwhite;
   padding: 5px;
 }
 .middle-row {
   background-color: #ffc10745;
 }

 .new-vertical-line {
   display: block;
   margin: 0;
   border-left-width: 1px;
   border-left-style: solid;
 }

 .down-tringle {
   border: 10px solid;
   border-bottom: 0px;
   border-left-color: transparent;
   border-right-color: transparent;
   color: white;
   margin-top: -1px;
   filter: drop-shadow(0px 1px 1px rgba(0,0,0,.1));
 }
 .up-tringle {
   border: 10px solid;
   border-top: 0px;
   border-left-color: transparent;
   border-right-color: transparent;
   margin-bottom: -1px;
   color: white;
   filter: drop-shadow(0px -1px 1px rgba(0,0,0,.1))
 }
 .left-tringle {
   border: 10px solid;
   border-right: 0px;
   border-top-color: transparent;
   border-bottom-color: transparent;
   margin-left: -1px;
   color: white;
   filter: drop-shadow(1px 0px 1px rgba(0,0,0,.1))
 }

 .right-tringle {
   border: 10px solid;
   border-left: 0px;
   border-top-color: transparent;
   border-bottom-color: transparent;
   margin-right: -1px;
   color: white;
   filter: drop-shadow(-1px 0px 1px rgba(0,0,0,.1))
 }

 .space {
    height: 15px
 }
 .horizonatal-space{
    width: 15px;
 }
 .visibility-hidden{
    visibility: hidden;
 }
 .margin-10 {
    margin: 8px;
 }