<div class="parent-temp">
  <button mat-button *ngIf="(isLargeScreen | async)" (click)="toggleFilter()">Click me!</button>  
  <mat-drawer-container class="example-container">
      <mat-drawer [mode]=" (isLargeScreen | async )? 'over' : 'side'" [opened]="!(isLargeScreen$ | async) && (openDrawer)">
        
        <div class="filter-padding">Filters</div>
        <mat-divider></mat-divider>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Shirts
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-list role="list">
                  <mat-list-item role="listitem">All Shirts</mat-list-item>
                <mat-list-item role="listitem">Fromal Shirts</mat-list-item>
                <mat-list-item role="listitem">Party Wear</mat-list-item>
              </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Mobiles & Accessories
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                  <mat-list-item role="listitem">All </mat-list-item>
                  <mat-list-item role="listitem">Moboies</mat-list-item>
                  <mat-list-item role="listitem">Tablets</mat-list-item>
                  <mat-list-item role="listitem">Mobile Accessories</mat-list-item>
                </mat-list>
              </mat-expansion-panel>
        </mat-accordion>
          
      </mat-drawer>
      <mat-drawer-content>
        <div fxFlex fxLayout="column">
          <div fxLayout="column">
            <div>
                Home > ClothingMen's > Clothing
            </div>
            <div>
                Ranging from t-shirts, shirts, jeans, trousers, suits and blazers to sweaters and other seasonal wear, discover a comprehensive range of men’s clothing on Flipkart. Shop among Wrangler, Peter England, Lee, Metronaut, Indian Terrain, United Colors of Benetton and other big-wigs.
            </div>
            <div>
                Men's Clothing(Showing 1 – 40 products of 90,867 products)
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-around start" >
              <mat-card class="temp-card" *ngFor="let item of [1,2,3,4,5,6,8,2,3,4,4,5,5,5,5,6]" fxFlex.lg="24.5%">
                  <img mat-card-image src="../../assets/m-style-tshirt-try-this-original-imaf8zxukgz3cjhq.jpeg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                      Try This
                      Solid Men Polo Neck Black, White T-Shirt
                      ₹480₹1,29963% off
                      Size S, M, L, XL, XXL
                  </mat-card-content>
              </mat-card>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
</div>